TicketSaleSolution/AdministrationApp/Service References/ReservationService/ReservationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3643/ReservationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
  <xs:element name="newReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="resDTO" nillable="true" type="q1:ReservationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="newReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newReservationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="autoCancelation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="autoCancelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="autoCancelationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReservationsByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="onlyPayments" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReservationsByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="getReservationsByUserResult" nillable="true" type="q2:ArrayOfReservationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReservations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReservationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="getReservationsResult" nillable="true" type="q3:ArrayOfReservationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idReservation" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="getReservationResult" nillable="true" type="q4:ReservationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReservationCountByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="onlyPayments" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReservationCountByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getReservationCountByUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelSubOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idSO" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelSubOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cancelSubOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelAllSubOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idRes" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelAllSubOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cancelAllSubOrdersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generateNewTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTicketType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generateNewTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="generateNewTicketResult" nillable="true" type="q5:TicketDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>