TicketSaleSolution/AppWeb/Service References/UserServiceClient/UserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BO.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BO.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3643/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BO" />
  <xs:complexType name="DTOUser">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BO" minOccurs="0" name="Reservation" nillable="true" type="q1:ArrayOfReservation" />
      <xs:element minOccurs="0" name="dateBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNum" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userType" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOUser" nillable="true" type="tns:DTOUser" />
</xs:schema>