TicketSaleSolution/AppWeb/Service References/UserServiceClient/UserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/BO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3643/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="DTOUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reservation" nillable="true" type="tns:ArrayOfReservation" />
      <xs:element minOccurs="0" name="dateBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNum" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userType" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOUser" nillable="true" type="tns:DTOUser" />
  <xs:complexType name="ArrayOfReservation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reservation" nillable="true" type="tns:Reservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservation" nillable="true" type="tns:ArrayOfReservation" />
  <xs:complexType name="Reservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Payment" nillable="true" type="tns:ArrayOfPayment" />
      <xs:element minOccurs="0" name="SubOrder" nillable="true" type="tns:ArrayOfSubOrder" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idUser" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Reservation" nillable="true" type="tns:Reservation" />
  <xs:complexType name="ArrayOfPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payment" nillable="true" type="tns:Payment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayment" nillable="true" type="tns:ArrayOfPayment" />
  <xs:complexType name="Payment">
    <xs:sequence>
      <xs:element minOccurs="0" name="CashPayment" nillable="true" type="tns:CashPayment" />
      <xs:element minOccurs="0" name="PaypalPayment" nillable="true" type="tns:PaypalPayment" />
      <xs:element minOccurs="0" name="Reservation" nillable="true" type="tns:Reservation" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idReservation" type="xs:int" />
      <xs:element minOccurs="0" name="mount" type="xs:double" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Payment" nillable="true" type="tns:Payment" />
  <xs:complexType name="CashPayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Payment" nillable="true" type="tns:Payment" />
      <xs:element minOccurs="0" name="PaymentLocation" nillable="true" type="tns:PaymentLocation" />
      <xs:element minOccurs="0" name="cod" type="xs:int" />
      <xs:element minOccurs="0" name="idPayment" type="xs:int" />
      <xs:element minOccurs="0" name="idPaymentLocation" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="CashPayment" nillable="true" type="tns:CashPayment" />
  <xs:complexType name="PaymentLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CashPayment" nillable="true" type="tns:ArrayOfCashPayment" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNumber" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="PaymentLocation" nillable="true" type="tns:PaymentLocation" />
  <xs:complexType name="ArrayOfCashPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CashPayment" nillable="true" type="tns:CashPayment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCashPayment" nillable="true" type="tns:ArrayOfCashPayment" />
  <xs:complexType name="PaypalPayment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Payment" nillable="true" type="tns:Payment" />
      <xs:element minOccurs="0" name="idPayment" type="xs:int" />
      <xs:element minOccurs="0" name="transactionCod" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="PaypalPayment" nillable="true" type="tns:PaypalPayment" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reservation" nillable="true" type="tns:ArrayOfReservation" />
      <xs:element minOccurs="0" name="dateBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobileNum" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userType" type="xs:unsignedByte" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="SubOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reservation" nillable="true" type="tns:Reservation" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="tns:Ticket" />
      <xs:element minOccurs="0" name="active" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idReservation" type="xs:int" />
      <xs:element minOccurs="0" name="idTicket" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="SubOrder" nillable="true" type="tns:SubOrder" />
  <xs:complexType name="Ticket">
    <xs:sequence>
      <xs:element minOccurs="0" name="SubOrder" nillable="true" type="tns:ArrayOfSubOrder" />
      <xs:element minOccurs="0" name="TicketType" nillable="true" type="tns:TicketType" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idTicketType" type="xs:int" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Ticket" nillable="true" type="tns:Ticket" />
  <xs:complexType name="ArrayOfSubOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubOrder" nillable="true" type="tns:SubOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubOrder" nillable="true" type="tns:ArrayOfSubOrder" />
  <xs:complexType name="TicketType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Event" nillable="true" type="tns:Event" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="tns:ArrayOfTicket" />
      <xs:element minOccurs="0" name="cost" type="xs:double" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="finalNum" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idEvent" type="xs:int" />
      <xs:element minOccurs="0" name="startNum" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="TicketType" nillable="true" type="tns:TicketType" />
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventLocation" nillable="true" type="tns:EventLocation" />
      <xs:element minOccurs="0" name="TicketType" nillable="true" type="tns:ArrayOfTicketType" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="enable" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idEventLocation" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:complexType name="EventLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Event" nillable="true" type="tns:ArrayOfEvent" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNumber" type="xs:int" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="EventLocation" nillable="true" type="tns:EventLocation" />
  <xs:complexType name="ArrayOfEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvent" nillable="true" type="tns:ArrayOfEvent" />
  <xs:complexType name="ArrayOfTicketType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TicketType" nillable="true" type="tns:TicketType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicketType" nillable="true" type="tns:ArrayOfTicketType" />
  <xs:complexType name="ArrayOfTicket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ticket" nillable="true" type="tns:Ticket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicket" nillable="true" type="tns:ArrayOfTicket" />
</xs:schema>