TicketSaleSolution/SalesApp/Service References/PaymentService/PaymentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PaymentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3643/PaymentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3643/PaymentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3643/PaymentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPaymentService_getPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:getPayment" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_getPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_getPayments_InputMessage">
    <wsdl:part name="parameters" element="tns:getPayments" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_getPayments_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPaymentsResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_newPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:newPayment" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_newPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:newPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_updatePayment_InputMessage">
    <wsdl:part name="parameters" element="tns:updatePayment" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_updatePayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:updatePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_getPaymentLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:getPaymentLocations" />
  </wsdl:message>
  <wsdl:message name="IPaymentService_getPaymentLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPaymentLocationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IPaymentService">
    <wsdl:operation name="getPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/getPayment" message="tns:IPaymentService_getPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/getPaymentResponse" message="tns:IPaymentService_getPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPayments">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/getPayments" message="tns:IPaymentService_getPayments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/getPaymentsResponse" message="tns:IPaymentService_getPayments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="newPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/newPayment" message="tns:IPaymentService_newPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/newPaymentResponse" message="tns:IPaymentService_newPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updatePayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/updatePayment" message="tns:IPaymentService_updatePayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/updatePaymentResponse" message="tns:IPaymentService_updatePayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPaymentLocations">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaymentService/getPaymentLocations" message="tns:IPaymentService_getPaymentLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaymentService/getPaymentLocationsResponse" message="tns:IPaymentService_getPaymentLocations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPaymentService" type="tns:IPaymentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPayment">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/getPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPayments">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/getPayments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newPayment">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/newPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePayment">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/updatePayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPaymentLocations">
      <soap:operation soapAction="http://tempuri.org/IPaymentService/getPaymentLocations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaymentService">
    <wsdl:port name="BasicHttpBinding_IPaymentService" binding="tns:BasicHttpBinding_IPaymentService">
      <soap:address location="http://localhost:3643/PaymentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>