TicketSaleSolution/AppWeb/Service References/EventServiceClient/EventService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EventService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3643/EventService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3643/EventService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3643/EventService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
      <xsd:import schemaLocation="http://localhost:3643/EventService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEventService_newEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:newEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_newEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:newEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_cancelEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:cancelEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_cancelEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:cancelEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_updateEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:updateEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_updateEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_getEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:getEvents" />
  </wsdl:message>
  <wsdl:message name="IEventService_getEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_getFeaturedEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:getFeaturedEvents" />
  </wsdl:message>
  <wsdl:message name="IEventService_getFeaturedEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFeaturedEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_getEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:getEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_getEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_searchEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:searchEvents" />
  </wsdl:message>
  <wsdl:message name="IEventService_searchEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_getLocals_InputMessage">
    <wsdl:part name="parameters" element="tns:getLocals" />
  </wsdl:message>
  <wsdl:message name="IEventService_getLocals_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLocalsResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_getEventType_InputMessage">
    <wsdl:part name="parameters" element="tns:getEventType" />
  </wsdl:message>
  <wsdl:message name="IEventService_getEventType_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEventTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="IEventService">
    <wsdl:operation name="newEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/newEvent" message="tns:IEventService_newEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/newEventResponse" message="tns:IEventService_newEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cancelEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/cancelEvent" message="tns:IEventService_cancelEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/cancelEventResponse" message="tns:IEventService_cancelEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/updateEvent" message="tns:IEventService_updateEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/updateEventResponse" message="tns:IEventService_updateEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/getEvents" message="tns:IEventService_getEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/getEventsResponse" message="tns:IEventService_getEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFeaturedEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/getFeaturedEvents" message="tns:IEventService_getFeaturedEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/getFeaturedEventsResponse" message="tns:IEventService_getFeaturedEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/getEvent" message="tns:IEventService_getEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/getEventResponse" message="tns:IEventService_getEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/searchEvents" message="tns:IEventService_searchEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/searchEventsResponse" message="tns:IEventService_searchEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLocals">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/getLocals" message="tns:IEventService_getLocals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/getLocalsResponse" message="tns:IEventService_getLocals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEventType">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/getEventType" message="tns:IEventService_getEventType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/getEventTypeResponse" message="tns:IEventService_getEventType_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEventService" type="tns:IEventService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="newEvent">
      <soap:operation soapAction="http://tempuri.org/IEventService/newEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelEvent">
      <soap:operation soapAction="http://tempuri.org/IEventService/cancelEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEvent">
      <soap:operation soapAction="http://tempuri.org/IEventService/updateEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEvents">
      <soap:operation soapAction="http://tempuri.org/IEventService/getEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFeaturedEvents">
      <soap:operation soapAction="http://tempuri.org/IEventService/getFeaturedEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEvent">
      <soap:operation soapAction="http://tempuri.org/IEventService/getEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchEvents">
      <soap:operation soapAction="http://tempuri.org/IEventService/searchEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocals">
      <soap:operation soapAction="http://tempuri.org/IEventService/getLocals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEventType">
      <soap:operation soapAction="http://tempuri.org/IEventService/getEventType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventService">
    <wsdl:port name="BasicHttpBinding_IEventService" binding="tns:BasicHttpBinding_IEventService">
      <soap:address location="http://localhost:3643/EventService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>