TicketSaleSolution/AppWeb/Service References/PaypalServiceClient/PaypalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PaypalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1182/PaypalService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1182/PaypalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPaypalService_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IPaypalService_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IPaypalService_doPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:doPayment" />
  </wsdl:message>
  <wsdl:message name="IPaypalService_doPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:doPaymentResponse" />
  </wsdl:message>
  <wsdl:portType name="IPaypalService">
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaypalService/login" message="tns:IPaypalService_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaypalService/loginResponse" message="tns:IPaypalService_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IPaypalService/doPayment" message="tns:IPaypalService_doPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPaypalService/doPaymentResponse" message="tns:IPaypalService_doPayment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPaypalService" type="tns:IPaypalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IPaypalService/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doPayment">
      <soap:operation soapAction="http://tempuri.org/IPaypalService/doPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PaypalService">
    <wsdl:port name="BasicHttpBinding_IPaypalService" binding="tns:BasicHttpBinding_IPaypalService">
      <soap:address location="http://localhost:1182/PaypalService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>