TicketSaleSolution/AdministrationApp/Service References/EventService/EventService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EventService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3643/EventService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3643/EventService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3643/EventService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEventService_newEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:newEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_newEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:newEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_cancelEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:cancelEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_cancelEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:cancelEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_updateEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:updateEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_updateEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_getEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:getEvents" />
  </wsdl:message>
  <wsdl:message name="IEventService_getEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_getEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:getEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_getEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_getEventsForGv_InputMessage">
    <wsdl:part name="parameters" element="tns:getEventsForGv" />
  </wsdl:message>
  <wsdl:message name="IEventService_getEventsForGv_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEventsForGvResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_getEventReport_InputMessage">
    <wsdl:part name="parameters" element="tns:getEventReport" />
  </wsdl:message>
  <wsdl:message name="IEventService_getEventReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:getEventReportResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_getSoldTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:getSoldTickets" />
  </wsdl:message>
  <wsdl:message name="IEventService_getSoldTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:getSoldTicketsResponse" />
  </wsdl:message>
  <wsdl:portType name="IEventService">
    <wsdl:operation name="newEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/newEvent" message="tns:IEventService_newEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/newEventResponse" message="tns:IEventService_newEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cancelEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/cancelEvent" message="tns:IEventService_cancelEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/cancelEventResponse" message="tns:IEventService_cancelEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/updateEvent" message="tns:IEventService_updateEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/updateEventResponse" message="tns:IEventService_updateEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/getEvents" message="tns:IEventService_getEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/getEventsResponse" message="tns:IEventService_getEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/getEvent" message="tns:IEventService_getEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/getEventResponse" message="tns:IEventService_getEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEventsForGv">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/getEventsForGv" message="tns:IEventService_getEventsForGv_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/getEventsForGvResponse" message="tns:IEventService_getEventsForGv_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getEventReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/getEventReport" message="tns:IEventService_getEventReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/getEventReportResponse" message="tns:IEventService_getEventReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getSoldTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/getSoldTickets" message="tns:IEventService_getSoldTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/getSoldTicketsResponse" message="tns:IEventService_getSoldTickets_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEventService" type="tns:IEventService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="newEvent">
      <soap:operation soapAction="http://tempuri.org/IEventService/newEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelEvent">
      <soap:operation soapAction="http://tempuri.org/IEventService/cancelEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateEvent">
      <soap:operation soapAction="http://tempuri.org/IEventService/updateEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEvents">
      <soap:operation soapAction="http://tempuri.org/IEventService/getEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEvent">
      <soap:operation soapAction="http://tempuri.org/IEventService/getEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEventsForGv">
      <soap:operation soapAction="http://tempuri.org/IEventService/getEventsForGv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEventReport">
      <soap:operation soapAction="http://tempuri.org/IEventService/getEventReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSoldTickets">
      <soap:operation soapAction="http://tempuri.org/IEventService/getSoldTickets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventService">
    <wsdl:port name="BasicHttpBinding_IEventService" binding="tns:BasicHttpBinding_IEventService">
      <soap:address location="http://localhost:3643/EventService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>