TicketSaleSolution/SalesApp/Service References/ReservationService/ReservationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3643/ReservationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
  <xs:element name="newReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="resDTO" nillable="true" type="q1:ReservationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="newReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newReservationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="autoCancelation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="autoCancelationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="autoCancelationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReservationsByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReservationsByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="getReservationsByUserResult" nillable="true" type="q2:ArrayOfReservationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReservations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReservationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DTO" minOccurs="0" name="getReservationsResult" nillable="true" type="q3:ArrayOfReservationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>