TicketSaleSolution/SalesApp/Service References/ReservationService/ReservationService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReservationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Payment" nillable="true" type="tns:ArrayOfPaymentDTO" />
      <xs:element minOccurs="0" name="SubOrder" nillable="true" type="tns:ArrayOfSubOrderDTO" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:UserDTO" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idUser" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservationDTO" nillable="true" type="tns:ReservationDTO" />
  <xs:complexType name="ArrayOfPaymentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentDTO" nillable="true" type="tns:PaymentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaymentDTO" nillable="true" type="tns:ArrayOfPaymentDTO" />
  <xs:complexType name="PaymentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CashPayment" nillable="true" type="tns:CashPaymentDTO" />
      <xs:element minOccurs="0" name="PaypalPayment" nillable="true" type="tns:PaypalPaymentDTO" />
      <xs:element minOccurs="0" name="Reservation" nillable="true" type="tns:ReservationDTO" />
      <xs:element minOccurs="0" name="amount" type="xs:double" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idReservation" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentDTO" nillable="true" type="tns:PaymentDTO" />
  <xs:complexType name="CashPaymentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Payment" nillable="true" type="tns:PaymentDTO" />
      <xs:element minOccurs="0" name="PaymentLocation" nillable="true" type="tns:PaymentLocationDTO" />
      <xs:element minOccurs="0" name="cod" type="xs:int" />
      <xs:element minOccurs="0" name="idPayment" type="xs:int" />
      <xs:element minOccurs="0" name="idPaymentLocation" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CashPaymentDTO" nillable="true" type="tns:CashPaymentDTO" />
  <xs:complexType name="PaymentLocationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CashPayment" nillable="true" type="tns:ArrayOfCashPaymentDTO" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentLocationDTO" nillable="true" type="tns:PaymentLocationDTO" />
  <xs:complexType name="ArrayOfCashPaymentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CashPaymentDTO" nillable="true" type="tns:CashPaymentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCashPaymentDTO" nillable="true" type="tns:ArrayOfCashPaymentDTO" />
  <xs:complexType name="PaypalPaymentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Payment" nillable="true" type="tns:PaymentDTO" />
      <xs:element minOccurs="0" name="idPayment" type="xs:int" />
      <xs:element minOccurs="0" name="transactionCod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaypalPaymentDTO" nillable="true" type="tns:PaypalPaymentDTO" />
  <xs:complexType name="ArrayOfSubOrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SubOrderDTO" nillable="true" type="tns:SubOrderDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSubOrderDTO" nillable="true" type="tns:ArrayOfSubOrderDTO" />
  <xs:complexType name="SubOrderDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reservation" nillable="true" type="tns:ReservationDTO" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="tns:TicketDTO" />
      <xs:element minOccurs="0" name="active" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idReservation" type="xs:int" />
      <xs:element minOccurs="0" name="idTicket" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubOrderDTO" nillable="true" type="tns:SubOrderDTO" />
  <xs:complexType name="TicketDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="SubOrder" nillable="true" type="tns:ArrayOfSubOrderDTO" />
      <xs:element minOccurs="0" name="TicketType" nillable="true" type="tns:TicketTypeDTO" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idTicketType" type="xs:int" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TicketDTO" nillable="true" type="tns:TicketDTO" />
  <xs:complexType name="TicketTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Event" nillable="true" type="tns:EventDTO" />
      <xs:element minOccurs="0" name="Ticket" nillable="true" type="tns:ArrayOfTicketDTO" />
      <xs:element minOccurs="0" name="cost" type="xs:double" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="finalNum" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idEvent" type="xs:int" />
      <xs:element minOccurs="0" name="startNum" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TicketTypeDTO" nillable="true" type="tns:TicketTypeDTO" />
  <xs:complexType name="EventDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EventLocation" nillable="true" type="tns:EventLocationDTO" />
      <xs:element minOccurs="0" name="TicketType" nillable="true" type="tns:ArrayOfTicketTypeDTO" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="enable" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idEventLocation" type="xs:int" />
      <xs:element minOccurs="0" name="img" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventDTO" nillable="true" type="tns:EventDTO" />
  <xs:complexType name="EventLocationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Event" nillable="true" type="tns:ArrayOfEventDTO" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNumber" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventLocationDTO" nillable="true" type="tns:EventLocationDTO" />
  <xs:complexType name="ArrayOfEventDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventDTO" nillable="true" type="tns:EventDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventDTO" nillable="true" type="tns:ArrayOfEventDTO" />
  <xs:complexType name="ArrayOfTicketTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TicketTypeDTO" nillable="true" type="tns:TicketTypeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicketTypeDTO" nillable="true" type="tns:ArrayOfTicketTypeDTO" />
  <xs:complexType name="ArrayOfTicketDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TicketDTO" nillable="true" type="tns:TicketDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicketDTO" nillable="true" type="tns:ArrayOfTicketDTO" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reservation" nillable="true" type="tns:ArrayOfReservationDTO" />
      <xs:element minOccurs="0" name="active" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="dateBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="img" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="registrationLink" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userType" type="xs:unsignedByte" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="ArrayOfReservationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReservationDTO" nillable="true" type="tns:ReservationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservationDTO" nillable="true" type="tns:ArrayOfReservationDTO" />
</xs:schema>