TicketSaleSolution/AppWeb/Service References/ReservationServiceClient/ReservationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReservationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3643/ReservationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3643/ReservationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3643/ReservationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReservationService_newReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:newReservation" />
  </wsdl:message>
  <wsdl:message name="IReservationService_newReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:newReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationService_autoCancelation_InputMessage">
    <wsdl:part name="parameters" element="tns:autoCancelation" />
  </wsdl:message>
  <wsdl:message name="IReservationService_autoCancelation_OutputMessage">
    <wsdl:part name="parameters" element="tns:autoCancelationResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationService_getReservationsByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getReservationsByUser" />
  </wsdl:message>
  <wsdl:message name="IReservationService_getReservationsByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReservationsByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationService_getReservations_InputMessage">
    <wsdl:part name="parameters" element="tns:getReservations" />
  </wsdl:message>
  <wsdl:message name="IReservationService_getReservations_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReservationsResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationService_getReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:getReservation" />
  </wsdl:message>
  <wsdl:message name="IReservationService_getReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationService_getReservationCountByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getReservationCountByUser" />
  </wsdl:message>
  <wsdl:message name="IReservationService_getReservationCountByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReservationCountByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationService_cancelSubOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:cancelSubOrder" />
  </wsdl:message>
  <wsdl:message name="IReservationService_cancelSubOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:cancelSubOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationService_cancelAllSubOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:cancelAllSubOrders" />
  </wsdl:message>
  <wsdl:message name="IReservationService_cancelAllSubOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:cancelAllSubOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IReservationService_generateNewTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:generateNewTicket" />
  </wsdl:message>
  <wsdl:message name="IReservationService_generateNewTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:generateNewTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="IReservationService">
    <wsdl:operation name="newReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/newReservation" message="tns:IReservationService_newReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/newReservationResponse" message="tns:IReservationService_newReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="autoCancelation">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/autoCancelation" message="tns:IReservationService_autoCancelation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/autoCancelationResponse" message="tns:IReservationService_autoCancelation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReservationsByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/getReservationsByUser" message="tns:IReservationService_getReservationsByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/getReservationsByUserResponse" message="tns:IReservationService_getReservationsByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReservations">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/getReservations" message="tns:IReservationService_getReservations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/getReservationsResponse" message="tns:IReservationService_getReservations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/getReservation" message="tns:IReservationService_getReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/getReservationResponse" message="tns:IReservationService_getReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReservationCountByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/getReservationCountByUser" message="tns:IReservationService_getReservationCountByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/getReservationCountByUserResponse" message="tns:IReservationService_getReservationCountByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cancelSubOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/cancelSubOrder" message="tns:IReservationService_cancelSubOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/cancelSubOrderResponse" message="tns:IReservationService_cancelSubOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="cancelAllSubOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/cancelAllSubOrders" message="tns:IReservationService_cancelAllSubOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/cancelAllSubOrdersResponse" message="tns:IReservationService_cancelAllSubOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="generateNewTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservationService/generateNewTicket" message="tns:IReservationService_generateNewTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservationService/generateNewTicketResponse" message="tns:IReservationService_generateNewTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReservationService" type="tns:IReservationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="newReservation">
      <soap:operation soapAction="http://tempuri.org/IReservationService/newReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="autoCancelation">
      <soap:operation soapAction="http://tempuri.org/IReservationService/autoCancelation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReservationsByUser">
      <soap:operation soapAction="http://tempuri.org/IReservationService/getReservationsByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReservations">
      <soap:operation soapAction="http://tempuri.org/IReservationService/getReservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReservation">
      <soap:operation soapAction="http://tempuri.org/IReservationService/getReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReservationCountByUser">
      <soap:operation soapAction="http://tempuri.org/IReservationService/getReservationCountByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelSubOrder">
      <soap:operation soapAction="http://tempuri.org/IReservationService/cancelSubOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancelAllSubOrders">
      <soap:operation soapAction="http://tempuri.org/IReservationService/cancelAllSubOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateNewTicket">
      <soap:operation soapAction="http://tempuri.org/IReservationService/generateNewTicket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReservationService">
    <wsdl:port name="BasicHttpBinding_IReservationService" binding="tns:BasicHttpBinding_IReservationService">
      <soap:address location="http://localhost:3643/ReservationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>